.contactAdd,
.contactCard {
    padding: 80px 120px;
    border-radius: 8px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    gap: 80px;
    margin-bottom: 20px;
    transition-duration: .3s;
}


.contactAdd img,
.contactCard img {
    border-radius: 4px;
    width: 120px;
    height: 120px;
}

.contactAdd div,
.contactCard div {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.contactAdd div input,
.contactCard div input {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    background-color: #000;
    transition: border-color 0.25s;
}

.contactAdd div input:focus,
.contactCard div input:focus {
    outline: none;
    border-color: #646cff;
}

.contactAdd h2,
.contactCard h2 {
    position: absolute;
    top: 3px;
    left: 30px;
}

.contactAdd .cardFooter,
.contactCard .cardFooter {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.cardsView {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

@media (prefers-color-scheme: dark) {
    .contactAdd,
    .contactCard {
        background-color: #191919;
    }
}